<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surge.device.repository.ElectricFenceEventMapper">

	<resultMap type="ElectricFenceDevice" id="ElectricFenceDeviceResult">
		<id     property="id"   column="id"  />
		<result property="fenceId"   column="fence_id"   />
		<result property="deviceId"   column="device_id" />
	</resultMap>

</mapper>
